/*  */
/*  */
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }
  /*  */
  /*  */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  ul
{
    text-decoration: none;
}
.header ul li
{
    display: inline-block;
    margin-top: 5px;
    padding: 10px; 
}
.header a
{
    text-decoration: none;
    color: black;
}

ul li a
{
    text-decoration: none;
    font-size: 10px;
    color: #f3f1f1;
}
.box1
{
    width: 100%;
    padding: 10px;
    background-color: red;
}
.box1 ul li
{
    display: inline-block;
}
.box1 ul li a
{
    font-size: 17px;
}
.box2
{
    width: 100%;
    display: flex;
    background-color: white;
}
.img
{
    margin-left: 70px;
}
.header
{
    width: 50%;
    margin-top: 15px;
    font-size: 18px;
}
.ime
{
    width: 60%;
    
}
.li
{
    margin-top: 30px;
    text-align: center;
}
.count
{
    width: 35%;
    padding: 10px;
    border-radius: 100%;
    background-color: #FDCB09;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}
.fa-brands
{
    left: 20px;
}
.m1
{
    width: 22%;
    margin-top: 20px;
    margin-left: 50px;
}
.b1
{
    display: flex;
    width: 65%;
}
.d1
{
    width: 70%;
}
.d2
{
    width: 25%;
    text-align: right;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    color: #FBD34D;

}
.input
{  
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    outline: none;
    border: 2px solid #FBD34D;
}
.m2
{
    width: 100%;
}
.mini
{
    width: 100%;
}
.m3
{
    padding:15px;
    font-size: 18px;
    background-color: #e4dede;
}
.m3 a
{
    text-decoration: none;
}
.bn a
{
    text-decoration: none;
    
}
.com
{
    display: flex;
}
.cat
{
    width: 25%;
    padding: 15px;
}

.h1
{
    padding: 15px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.panal
{
    display: block;
    padding: 15px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #ECECEC;
}


.flex
{
    display: flex;
}
.top
{
    margin-top: 19px;
    width: 60%;
    margin-left: 10px;
}
.section
{
    width: 90%;
    margin: auto;
}

/* product img */

.product
{
    width: 75%;
}

.d5
{
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 19px;
}
.m7
{
    width: 100%;
    text-align: center;
    display: flex;
}
.pixel
{
    width: 95%;
    margin-left: 15px;
    margin-top: 15px;
}
.pixel:hover
{
    border: 1px solid black;
    border-radius: 1px 1px 0px 0px;
}
.pixel1
{
    width: 33.33%;
    margin-left: 15px;
    margin-top: 15px;
}
.pixel1:hover
{
    border: 1px solid black;
    border-radius: 1px 1px 0px 0px;
}
.d6
{
    padding: 15px;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(105, 105, 105, 0.342);
}
.d6:hover
{
    color: white;
    background-color: red;
}
.d61
{
    width: 33.33%;
    padding: 15px;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(105, 105, 105, 0.342);
}
.d61:hover
{
    color: white;
    background-color: red;
}
.panal a
{
    display: flex;
    text-decoration: none;
}
.b
{
    width: 10%;
    text-decoration: none;
}
.nam
{
    width: 80%;
}

.bbb
{
    width: 20%;
    text-align: right;
}
.b0
{
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}
.b0:hover
{
    color: red;
}

.fa-plus
{
    text-align: right;
}

/* kk */




.m9
{
    width: 100%;
    padding: 30px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.658);
}





.mb1
{
    width: 100%;
    display: flex;
}


.w
{
    width: 35%;
}
.w ul li
{
    padding: 7px;
    margin-top: 5px;
    list-style: none;
    display: inline-block;
}



.w ul li a
{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid lightslategrey;
    border-radius: 20px;
}
.w ul li a:hover
{
    color: #FBD34D;
    border:1px solid #FBD34D;
}
.ab ul li
{
    padding: 7px;
    margin-top: 5px;
    list-style: none;
    display: inline-block;
}



.ab ul li a
{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid lightslategrey;
    border-radius: 20px;
}

.ab  ul li a:hover
{
    color: #FBD34D;
    border:1px solid #FBD34D;
}

.q1
{
    color: #FBD34D;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightsteelblue;
}


.r1
{
    border-bottom: 2px solid #FBD34D;
}



.ab
{
    width: 35%;
    margin-left: 15px;
}


 

.phone
{
    color: #FBD34D;
    margin-top: 15px;
}


.ba
{
    width: 30%;
    margin-left: 15px;
}
.k
{
    width: 100%;
    padding: 15px;
    display: flex;
    background-color: red;
}
.ava
{
    width: 80%;
    color: #ffffff;
    font-size: 18px;
    margin-left: 60px;
    
}
.pat
{
    width: 20%;
    color: #ffffff;
    font-size: 18px;
}